
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            
            <hr />
            <li>
                <a href="/staff/index" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Personeller</span>
                </a>
                <hr />
            </li>
            <li>
                <a href="/testimonial/index" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Referanslar</span>
                </a>
                <hr />
            </li>
        </ul>
    </div>
</div>