@model HotelProject.EntityLayer.Concrete.AppRole
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rol Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Rol Adı</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>

