@model UpdateRoomDTO
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="RoomID" />
    <label>Oda</label>
    <input type="text" asp-for="RoomTitle" class="form-control mb-2" />
    <label>Fiyat</label>
    <input type="text" asp-for="RoomPrice" class="form-control mb-2" />
    <label>Oda Açıklama</label>
    <input type="text" asp-for="RoomDescription" class="form-control mb-2" />
    <label>Oda Fiyat</label>
    <input type="text" asp-for="RoomPrice" class="form-control mb-2" />
    <label>Oda Numara</label>
    <input type="text" asp-for="RoomNumber" class="form-control mb-2" />
    <label>Wifi</label>
    <input type="text" asp-for="RoomWifi" class="form-control mb-2" />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="RoomBathCount" class="form-control mb-2" />
    <label>Yatak Sayısı</label>
    <input type="text" asp-for="RoomBedCount" class="form-control mb-2" />
   

    <button class="btn mb-1 btn-rounded btn-outline-secondary">Güncelle</button>
</form>

