
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HotelUI.cshtml";
}

<div class="container-xxl bg-white p-0">

    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Header Start -->
    
    <!-- Header End -->
    <!-- Carousel Start -->
    @await Component.InvokeAsync("_SliderPartial");
    <!-- Carousel End -->
    <!-- Booking Start -->
    
    <!-- Booking End -->
    <!-- About Start -->
    @await Component.InvokeAsync("_AboutUsPartial");
    <!-- About End -->
    <!-- Room Start -->
    @await Component.InvokeAsync("_RoomPartial");
    <!-- Room End -->
    <!-- Video Start -->
    <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5">
                    <h6 class="section-title text-start text-white text-uppercase mb-3">Luxury Living</h6>
                    <h1 class="text-white mb-4">Discover A Brand Luxurious Hotel</h1>
                    <p class="text-white mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                    <a href="/Booking/Index" class="btn btn-primary py-md-3 px-md-5 me-3">Our Rooms</a>
                    <a href="/Booking/Index" class="btn btn-light py-md-3 px-md-5">Book A Room</a>
                </div>
            </div>  
            <div class="col-md-6">
                <div class="video">
                    <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/FOCp9rMMcZU" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="~/hotel/" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Start -->
    <!-- Service Start -->
    @await Component.InvokeAsync("_HotelServicePartial");
    <!-- Service End -->
    <!-- Testimonial Start -->
    @await Component.InvokeAsync("_TestimonialPartial");
    <!-- Testimonial End -->
    <!-- Team Start -->
    @await Component.InvokeAsync("_StaffPartial");
    <!-- Team End -->
    <!-- Newsletter Start -->

    
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

