@model CreateHotelServiceDTO
@{
    ViewData["Title"] = "AddHotelService";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1 style="text-align:center">Hizmet Ekle</h1>

<form method="post">
    <label>Hizmet İkon</label>
    <input type="text" asp-for="HotelServiceIcon" class="form-control mb-2" />
    <label>Hizmet Başlık</label>
    <input type="text" asp-for="HotelServiceTitle" class="form-control mb-2" />
    <label>Hizmet Açıklama</label>
    <input type="text" asp-for="HotelServiceDescription" class="form-control mb-2" />

    <button class="btn mb-1 btn-rounded btn-outline-secondary">Kaydet</button>
</form>

